
/*new class modification*/



.front, .back {

    
        position: relative;
        left: -203px;
        backface-visibility: hidden;
        margin-left: -374px;
        margin-top: 10px;
}

.default{
    margin-top: -40px;
    margin-left: 176px ! important;
    height: 100%;
    width: 100%;

}


.b2{
    border-radius: 20px;
    color: #fff;
    background-color: #ff0000;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    height: 45px;
    margin-left: 999px  ! important;
    width: 120px ! important;
    border:none;
    margin-right:100px;

}


.b1{


    background-color: rgba(8, 23, 240, 0.1) ! important;
    color: blue;
    border-radius: 30px;
    position:fixed ! important;
    z-index: 9999 ! important;
    top:100px;
     left:0;
     width:65px;
}


.bd{

    margin-top:-20px;
    background-color:#ce1212;;
    width: 20px  ! important;
    margin-left:150px;
    margin-bottom: 10px;
    height: 350px;
    border-radius: 30px;
}

.bd1{

visibility: hidden;

}

.navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 50%);
    border-color: #dee2e6;
    width: 58px;
}
.navbar-toggler:hover {
    text-decoration: none;
    background-color: white;

}



.primary_body .home_container .section_heading {
    background: #111D5E;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    min-height: 550px;
    border-bottom-right-radius: 100px;
}




.zz{

background-color: red ! important;
border-radius: 20px ! important;
width: 5px;
height: 5px;

}


.rot1{
margin: 20px 0px 210px 630px;
}

.rot2{

    margin: -580px 0 0 1065px; 
}
.rot3{

margin: -12px 0 0 1059px; 
}

.social{

width:100%;
 margin:0;
 padding:0;
 margin-left: 139px;
 font-size: 15px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}


.primary_body .home_container .our_success .success_wrapper .success_desc {
    font-size: 28px;
    color: #111D5E;
}


.bord1{
border: 5px solid black;
width: 30%;
margin-left: 190px;
}


 .vl .bord2{
    border-left: 11px solid black;
    height: 140px;
    margin-left: 190px;
    position: absolute;
}



.containerblue{

    padding-top: 30px;
     padding-left: 110px;
}

/*modification sur navbar*/



.primary_header .header_wrapper .main_navigation .navigation_wrapper .nav_menu .nav_menu_wrapper .menu_item .menu_item_href.active {
    border-bottom: 1px solid #ce1212;

}

.primary_header .header_wrapper .main_navigation .navigation_wrapper .nav_menu .nav_menu_wrapper .menu_item .menu_item_href:hover {
 color:red;
 border-bottom:none;  
 
}

.menu_item_href .nav-link .btn .btn-danger .menu_item .nav-item .sty{

    border:none;
    background: red;
    border-radius: 5px;
    margin-left:10px;
    border:none;
    border-bottom:none;
    padding: 2px 10px;
    
}



/*quelques actions boutons */ 
/*.btn {
    margin-left: 62px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/





.btn-danger {
    border-radius: 20px;
    color: #fff;
    background-color: #ff0000;
    margin-right: 200px;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    height: 45px;
    margin-left: 80px;
    width: 120px;
}

 
 
 .menu_item .nav-item .mybtn{

 margin-left:30px ;
  border-bottom:none !important;
 }
 
 
 .navbar-nav .nav-link {
    padding-right: -120px;
    padding-left: 398px;
    top: 35px;
    padding-top: -17px;
    margin-bottom: -3px;
  
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: -11;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
   
 }

/*
/* class div rouge a gauche
.primary_body .float_actions {
    position: fixed;
    background: red;
    border-radius: 15px;
    left: 0px;
    top: 35%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
}
/*class le contenu de div rouge
.primary_body .float_actions .actions_content .action_items .item_href {
    text-decoration: none;
    display: block;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}


/*logo div rouge 

.primary_body .float_actions .actions_content .action_items .item_href .ihref_logo {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}


/*fleche div rouge

.primary_body .float_actions .actions_content .action_items:before {
    content: ">";
    position: absolute;
    right: -10px;
    top: 19%;
    color: white;
    font-size: 30px;
    width: 40%;
}

*/

/*modification sur button submit

.submit{

    text-decoration:auto ;
     border: none;
     background: red;
     border-radius: 25px;
     color: white;
      margin-left: 910px;
      padding: 5px 15px;
}


/*modification sur section facilitè & rapide*/

.outer-div1.inner-div{
    margin: -580px 0 0 1065px;
    border-radius: 25px;
    margin: 50px;
    width: 208px;
    
}
.inner-div {
    margin: 76px auto;
    border-radius: 9px;
    font-weight: 400;
    color: black;
    font-size: 5rem;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.8, -0.4, 0.2, 1.7);
    transform-style: preserve-3d;
    margin-left: -13px;
   
}
.front {
    cursor: pointer;
    height: 81%;
    background: white;
    backface-visibility: hidden;
    box-shadow: 0 0 40px rgb(0 0 0 / 10%) inset;
    box-shadow: 0px 1px 15px grey;
    border-radius: 36px;
    margin: 37px;
    width: 300px;
    top: 12px;
    padding-top: 18px;
    margin-top: 15px;
    margin-left: -200px;
}



.front, .back {
    position: relative;
    left: -203px;
    backface-visibility: hidden;
    margin-left: -200px;
    margin-top: 10px;
}
  /*modifier l'image*/ 

   .primary_body .home_container .section_heading .heading_wrapper .img_wrapper .heading_img {
    height: 100%;
    max-height: 587px;
    margin-top: -76px;
    margin-left: -8px;
    
}

    .carre {
        width: 200px;
        height: 90px;
        background: white;
        border-radius: 18px;
        margin-top: 200px;
        margin-left: 20px;
        padding: 0px;
    }


/*modifier paragraphe */
.primary_body .home_container .our_success .success_wrapper .success_desc {
    font-size: 19px;
    color: #111D5E;
}


/*modifier container blue*/
.containerblue{

    padding-top: 34px;
    padding-left: 80px;
    margin-left: -16px;
}


 .row .col{
    display: initial;
    flex-direction: row;
    padding: 8px;
 }
    .back {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        left: 0;
        height: 85%;
        width: 50%;
        background-color: #fffefe;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 15px grey;
        border-radius: 25px;

    }

    .primary_body .home_container .section_heading .heading_wrapper .title_heading {
        font-size: 50px;
        font-weight: 800;
        color: #ffffff;
    }
    


.parag {
    margin-top: -61px;
    font-size: 24px;
}



/*footer*/

.icons{

margin:0; 
padding:0; 
display: flex; 
flex-direction:row;

}



.reseauS {

    color: white;
     font-size: 20px;
      font-weight: 600;
      
    }

    .op1 {

        margin-top: -40px;
        margin-left: 176px ! important;
        height: 100%;
        width: 100%;
    }


/********************************************************************************************************/




/*start small device  iphonex responsive = 375px */

@media (width:375px){

   
 .primary_body .home_container .section_heading .heading_wrapper .img_wrapper .heading_img {
    height: 50%;
    max-height: 308px;
    margin-top: -66px;
    margin-left: 45px;
    }


  /*div  rouge a cotè gauche*/
  
  .primary_body .float_actions {
    position: fixed;
    background: red;
    border-radius: 15px;
    left: 0px;
    top: 35%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    visibility: hidden;   /*rendre invisible dans les small device sm*/
}
  
/*le div  balanc des followres*/
.row .col{
    display: initial;
    flex-direction: row;
    padding: 8px;
 }



  /*.primary_body .float_actions {
    position: fixed;
    background: red;
    border-radius: 18px;
    left: 0px;
    top: 33%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
}



/* contenu div rouge*/

   /* .primary_body .float_actions .actions_content .action_items .item_href {
        text-decoration: none;
        display: block;
        flex-direction: column;
        justify-content: center;
        font-size: 9px;
        margin-left: 33px;
        font-size: 10px;
        color: red;
    }

    
    .primary_body .float_actions .actions_content .action_items .item_href .ihref_logo {
        width: 44px;
        height: 66px;
        margin-left: 28px;
        color:red
    }


    .primary_body .float_actions .actions_content .action_items {
        padding: 3px;
        width: 109px;
        height: 120px;
        
        
    }


/* responsive fleche div rouge*/

/*.primary_body .float_actions .actions_content .action_items:before {
    content: ">";
    position: absolute;
    right: 12px;
    top: 56%;
    color: white;
    font-size: 30px;
    width: 44%;
}*/


/* reglage title && image*/

    .primary_body .home_container .section_heading .heading_wrapper .title_heading {
        font-size: 32px;
        font-weight: 600;
        color: #ffffff;
        left: -21px;
        margin-left: 130px;
        margin-top: -6px;;
    }
    .carre {
        width: 143px;
        height: 82px;
        background: white;
        border-radius: 31px;
        margin-top: -25px;
        margin-left: 136px;
        padding: 10px;
        flex: center;
        padding: 0px;
        padding-left: 24px;
        font-size: 12px;
    }
   

    .primary_header .header_wrapper .main_navigation .navigation_wrapper .nav_menu .nav_menu_wrapper .menu_item .menu_item_href.active {
        border-bottom: 2px solid #ce1212;
    }

    .primary_header .header_wrapper .main_navigation .navigation_wrapper .nav_menu .nav_menu_wrapper .menu_item .menu_item_href {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin-left: -263px;
        margin-bottom: 3px;
    }

    .primary_header .header_wrapper .main_navigation .navigation_wrapper .nav_menu .nav_menu_wrapper .menu_item .menu_item_href:hover{

          border-bottom: 1px solid #ce1212;

    }    

    .navbar-nav .nav-link {
        padding-right: -120px;
        padding-left: 395px;
        top: 35px;
        padding-top: -17px;
        margin-bottom: -3px;
    }
   
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: -11;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    margin-top: -39px;
    margin-right: 7px;
}
.nav_menu_wrapper .navbar-nav .ms-auto .mb-2 .mb-lg-0 li.menu_item .nav-item:hover{

border-bottom: 1px solid #ff0000;

}


/*les trait noir au tour de l image*/

.bord1{
    border: 5px solid;
    width: 30%;
    margin-left: 190px;
    visibility: hidden;
    }


    .vl .bord2{
        border-left: 11px solid black;
        height: 140px;
        margin-left: 190px;
      visibility: hidden;
    }

/*eleminer le traut blanc*/

.mb-2 {
    margin-bottom: 2.5rem !important;
}



.primary_body .home_container .section_heading .heading_wrapper .desc_heading {
    font-size: 33px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 176px;
    margin-bottom: 117px;

}

.primary_body .search_bloc *, .primary_body .search_bloc *:before, .primary_body .search_bloc *:after {
    box-sizing: border-box;
    margin-top: -56px;
    margin-left: 63px;
}



/*facilitè && rapiditè*/

.front, .back {
    position: relative;
    top: 20px;
    left: -203px;
    backface-visibility: hidden;
    flex-direction: column;

}

/*boutin poster*/

.submit{
    text-decoration: auto;
    border: none;
    background: red;
    border-radius: 25px;
    color: white;
    margin-left: 280px;
    padding: 2px 10px;
}


/*modifier image*/

/*.image{

    margin-left: 135px;
    height:75%;
    width:75%;

   } */

   @media (width: 375px){
    .primary_body .home_container .section_heading .heading_wrapper .img_wrapper .heading_img {
    height: 50%;
    max-height: 267px;
    margin-top: -61px;
    margin-left: 24px;
}
   


/*footer*/

.reseauS {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-left: -2px;
}
.icons{

    margin:0; 
    padding:0; 
    display: flex; 
    flex-direction:row;
    margin-left: 154px;
    
    }


.footr {
    flex: 3;
    margin: -1px;
    padding: -3px;
    flex-direction: column;
    margin-left: 30px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
}

.respo{

    margin-right: 50px;
    height: 345px;
    width: 315px;

}

.marg{

    margin-left: 50px;

}

.icons {
    margin: 1px;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 42px;
}

.px-4 {
    padding-right: 100px;
    padding-left: 50px;
    padding: 10px;
}

.py-2 {
    padding-top:50px;
    padding-bottom:100px;
    padding: 10px;
}


.card-body {
    padding: 0rem 0em;
    margin-bottom: 30px;
}


.row .g-3.py-2 {
    padding-top: 50px;
    padding-bottom: 100px;
    padding: 10px;
    margin-left:70px;
}
.py-2 {
    padding-top: 50px;
    padding-bottom: 100px;
    padding: 10px;
    margin-left: 9px;
}


.social{

    width:100%;
     margin:0;
     padding:0;
     margin-left: 220px;
     font-size: 15px;
    }
    






/*cree new class pour chaque contenants*/


.front {
    cursor: pointer;
    height: 81%;
    background: white;
    backface-visibility: hidden;
    box-shadow: 0 0 40px rgb(0 0 0 / 10%) inset;
    box-shadow: 0px 1px 15px grey;
    border-radius: 36px;
    margin: 13px;
    width: 228px;
    top: 12px;
    padding-top: 0px;
    margin-top: 15px;
    margin-left: -350px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.rot1 {
    margin: 15px 0px 210px 630px;
}

.rot2 {
    margin: -246px 42px 34px 632px;
}

.rot3 {
    margin: -44px 0px 0px 5px;
}


/*bouton connexion toggle*/

.sty2 {
    margin-right: 152px ;
    margin-top: 50px ;
    display: initial;
    height: 50px;
    margin-left: 111px ! important;
}
 
 
.btn-group .dropend{

display:block ! important;

}

/*backround de header*/

.primary_body .home_container .section_heading {
    
    border-bottom-right-radius: 1px;
}

.b2{
    border-radius: 20px;
    color: #fff;
    background-color: #ff0000;
    margin-right: 200px;
    padding: 6px !important;
    text-align: center;
    font-size: 15px;
    height: 45px;
    margin-left: 130px ! important;
    width: 80px ! important;
    border:none;
    padding: 10px;

}
.op{
    margin-top: -40px;
    margin-left: 55px ! important;
    height: 100%;
    width: 100%;
}

.ret{
width: 50px;
height: 50px;
}

.ret1{

font-size: 10px;
text-decoration: none;

}

.tr{
     color:white;
    text-decoration: none;
    font-size: 10px;
}

ul, dl {
    margin-top: 25px;
    margin-left: 10px;
    /* width: 7px; */
}
ol, ul, dl {
    margin-top: 27px;
    margin-bottom: 1rem;
    margin-right: 31px;
}

.bd1{
     color: white ! important;
    visibility: inherit;
    bottom: 5px;
}

} }