<template>
  <div class="main-container blue-bg" style="min-height:100vh">
    <div class="nav-container">
      <SideBarNav />
    </div>
    <div id="bodyUi" class="body-container" style="margin-left:10px;">
      <div class="container-fluid py-4">
        <div class="row g-0 justify-content-center">
          <div class="col-md-10 mb-3">
            <div class="container p-2 rounded g-0 bg-light">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="row justify-content-center g-0">
                      <div class="col-auto">
                        <img style="width:150px" src="public/img/avatar.png" alt="avatar" class="user-avatar" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="row justify-content-center g-0">
                      <div class="col-auto">
                          <h2 style="margin:0;text-transform:uppercase;font-weight:900">John Doe</h2>
                          <h5 style="margin:0;text-align:center">Commerciale</h5>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="container p-2 rounded g-0 bg-light">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="row justify-content-center g-0">
                      <div class="col-auto">
                        zzz
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBarNav from "../components/SideBarNav";
export default {
  components:{
    SideBarNav,
  },
}
</script>

<style>

</style>