<template>
  <div class="sidebar_nav" id="sideBarNav">
    <span class="sidebar_toggle" id="sideBarToggle">+</span>
    <div class="nav_header">
      <button class="logout_btn">
        <img class="logout_img" src="public/img/menu/logout.svg" alt="">
      </button>
      <div class="header_wrapper">
        <div class="header_avatar mb-1">
          <button class="avatar_change">+</button>
          <img class="avatar" src="public/img/avatar.png" alt="photo de profile">
        </div>
        <div class="mb-2 header_text">
          <div class="text_user">
            <h3 class="user_name">John doe</h3>
            <p class="user_func">Téléprospecteur <sup>expérimenté</sup></p>
          </div>
        </div>
        <div class="header_deball">
          <label class="deball_wrapper mx-2">
            <input type="checkbox" id="deballCheck" name="check" value="check" class="debal_toggle" />
            <div class="debal_indicator"></div>
          </label>
        </div>
      </div>
    </div>
    <div class="nav_body">
      <div class="body_menu">
        <ul class="menu_wrapper">
          <li class="menu_items">
            <router-link class="items_href" to="/profile">
              <img class="href_logo" src="public/img/menu/user.svg" alt="">
              <p class="href_title">Profile</p>
            </router-link>
          </li>
          <li class="menu_items">
            <router-link class="items_href" to="/test">
              <img class="href_logo" src="public/img/menu/test.svg" alt="">
              <p class="href_title">Test d'éligibilité</p>
            </router-link>
          </li>
          <li class="menu_items">
            <router-link class="items_href" to="/lead">
              <img class="href_logo" src="public/img/menu/esearch.svg" alt="">
              <p class="href_title">Lead contact</p>
            </router-link>
          </li>
          <li class="menu_items">
            <router-link class="items_href" to="/contacts">
              <img class="href_logo" src="public/img/menu/contact.svg" alt="">
              <p class="href_title">Répertoire</p>
            </router-link>
          </li>
          <li class="menu_items">
            <router-link class="items_href" to="/agendq">
              <img class="href_logo" src="public/img/menu/calendar.svg" alt="">
              <p class="href_title">Agenda</p>
            </router-link>
          </li>
          <li class="menu_items">
            <router-link class="items_href" to="/portfolio">
              <img class="href_logo" src="public/img/menu/portfolio.svg" alt="">
              <p class="href_title">Portfeuil</p>
            </router-link>
          </li>
          <li class="menu_items">
            <router-link class="items_href" to="/info">
              <img class="href_logo" src="public/img/menu/info.svg" alt="">
              <p class="href_title">info</p>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav_footer">
      <div class="banner_wrapper">
        <img class="banner_img" src="https://via.placeholder.com/190x190" alt="banner">
        <span class="change_banner">+</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    sideBarHandler() {
      let sideBarOpen = false;
      var sideBarToggle = document.getElementById("sideBarToggle");
      var bodyUi = document.getElementById("bodyUi");
      var sideBarNav = document.getElementById("sideBarNav");

      sideBarToggle.addEventListener("click", function () {
        if (!sideBarOpen) {
          bodyUi.style.marginLeft = "210px";
          sideBarNav.style.marginLeft = "0px";
          bodyUi.style.transition = ".3s";
          sideBarNav.style.transition = ".3s";
          sideBarOpen = !sideBarOpen;
        } else {
          bodyUi.style.marginLeft = "10px";
          sideBarNav.style.marginLeft = "-200px";
          bodyUi.style.transition = ".3s";
          sideBarNav.style.transition = ".3s";
          sideBarOpen = !sideBarOpen;
        }
      });
    },
    /* navBoxHandler() {
      let navBoxOpen = false;
      var navBoxToggle = document.getElementById("navBoxToggle");
      var navbox = document.getElementById("navbox");
      navBoxToggle.addEventListener("click", function () {
        if (!navBoxOpen) {
          navbox.style.left = "200px";
          navbox.style.transition = ".3s";
          navBoxOpen = !navBoxOpen;
        } else {
          navbox.style.left = "-200px";
          navbox.style.transition = ".3s";
          navBoxOpen = !navBoxOpen;
        }
      });
    }, */
    /* checkDeballCheckBox(){
      if(localStorage.getItem("deball") == "true"){
        document.getElementById("deballCheck").checked = true;
      }
    }, */
    /* deballBoxHandler() {
      var deballBox = document.getElementById("deballBox");
      var deballCheck = document.getElementById("deballCheck");
      deballCheck.addEventListener('change',function (e) {

        if(localStorage.getItem("deball") == "true") {
          localStorage.setItem("deball","false");
          deballBox.style.marginRight = "-350px";
          sideBarNav.style.transition = ".3s";
        } else {
          localStorage.setItem("deball","true");
          deballBox.style.marginRight = 0;
          sideBarNav.style.transition = ".3s";
        }
      })
    }, */
    /* initData(){
      this.userName = localStorage.getItem("first_name")+" "+localStorage.getItem("last_name")
    } */
  },
  mounted: function () {
    //this.initData();
    this.sideBarHandler();
    //this.navBoxHandler();
    //this.deballBoxHandler();
    //this.checkDeballCheckBox();
  },
}
</script>

<style>

</style>