.sidebar-nav{
    width: 200px;
    margin-left: -200px;
    position: fixed;
    height: 100vh;
    background: $white;
    z-index: 1;
    box-shadow: 1px 0px 2px -1px $black;
    .nav-toggle{
        background: $primary-red;
        position: absolute;
        right: -20px;
        top: 10px;
        color: white;
        font-weight: 800;
        line-height: 15px;
        font-size: 15px;
        width: 20px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
    }
    .nav-wrapper{
        width: 100%;
        height: 100%;
        .nav-wrapper-content{
            position: relative;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            height: 100%;
            width: 100%;
            background: white;
            z-index: 1;
            &::-webkit-scrollbar{
                display: none;
            }
            .nav-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                .btn-menu{
                    background: $primary-blue;
                    border-radius: 100%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    svg{
                        color: white;
                        width: 20px;
                    }
                }
            }
            .nav-header{
                .header-user{
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .user-avatar{
                        width: 80px;
                        height: 80px;
                    }
                    .user-name{
                        margin: 0;
                        padding: 0;
                        font-weight: 800;
                        text-transform: uppercase;
                        font-size: 20px;
                    }
                }
            }
            .nav-menu{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                ul{
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    li{
                        width: 100%;
                        height: 40px;
                        color: black;
                        list-style: none;
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0 0 0 5px;
                        & a{
                            font-size: 15px;
                            font-weight: 600;
                            text-decoration: none;
                            color: $primary-blue;
                        }
                    }
                }
                .logout{
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    background: $primary-red;
                    width: 100%;
                    & a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .nav-box{
            color: #ffffff;
            position: absolute;
            top: 0px;
            left: -200px;
            //width: 400px;
            height: 200px;
            background: rgb(0 0 0 / 50%);
            border-radius: 0;
            z-index: 0;
            border-style: solid;
            border-width: 2px 2px 2px 0px;
            .box-input-wrapper {
                isolation: isolate;
                position: relative;
                height: 30px;
                width: 60px;
                border-radius: 15px;
                overflow: hidden;
                background: white;
                border: 2px solid;
              }
              .input-radio-toggle {
                display: none;
                z-index: 1;
                &:checked ~ .input-radio-indicator {
                    transform: translate3d(25%, 0, 0);
                }
              }
              .input-radio-indicator {
                height: 100%;
                width: 210%;
                background: $primary-blue;
                border-radius: 15px;
                transform: translate3d(-78%, 0, 0);
                transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
              }
        }
    }
}