.container{
    .form-wrapper{
        position: relative;
        min-height:100vh;
        .countdown-timer{
            position: absolute;
            right: 0;
            width: 50px;
            margin: 0;
            height: 30px;
            font-size: 12px;
            line-height: 12px;
            background: white;
            padding: 0;
            font-weight: 900;
            display: flex;
            color: $primary-blue;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }
        .header{
            .counter{
                margin: 0;
                sup{
                    text-transform: uppercase;
                    color: $primary-red;
                    font-size: 30px;
                }
            }
        }
        .body{
            .title{
                margin: 0;
            }
            .sections{
                .section-step{
                    .map-holder{
                        position: relative;
                        .map-svg{
                            max-width: 650px;
                            min-height: 250px;
                            g{
                                path{
                                    fill: $concrete;
                                    stroke: $white;
                                    stroke-width: 1px;
                                    cursor: pointer;
                                    transition: .3s;
                                    &.selected{
                                        fill: $primary-red;
                                    }
                                }
                                &:hover path{
                                    fill: $primary-blue;
                                }
                                path:hover{
                                    fill: $primary-red;
                                    stroke: $white;
                                    stroke-width: 1px;
                                    cursor: pointer;
                                }
                            }
                            
                        }
                        .map-tooltip{
                            display: none;
                            position: absolute;
                            width: fit-content;
                            padding: 0 5px;
                            left: 0;
                            top: 0;
                            height: fit-content;
                            background: white;
                            border-radius: 5px;
                        }
                    }
                    .input-text-custom{
                        height: 40px;
                        background: transparent;
                        border-width: 2px;
                        border-color: white;
                        outline: none;
                        box-shadow: none;
                        color: white;
                        &::placeholder{
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
                    .input-radio-custom{
                        &:checked  ~ label.input-radio-custom-label{
                            background: $primary-red;
                        }
                    }
                    .input-radio-custom-label{
                        width: 140px;
                        height: 40px;
                        border-color: white;
                        border-width: 2px;
                        background: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        outline: none;
                        box-shadow: none;
                        transition: .3s;
                        &:hover{
                            background: white;
                            color: $primary-blue;
                        }
                    }
                    .input-group-custom{
                        width: 140px;
                        height: 40px;
                    }
                    .input-number-custom{
                        border-width: 2px;
                        border-color: white;
                        background: transparent;
                        color: white;
                        padding-left: 35px;
                        outline: none;
                        box-shadow: none;
                    }
                    .input-number-custom-sapn{
                        border-width: 2px 0 2px 2px;
                        border-color: white;
                        background: transparent;
                        color: white;
                        width: 20px;
                        height: 40px;
                        font-size: 20px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .input-select-custom{
                        border-color: white;
                        background: transparent;
                        color: white;
                        border-width: 2px;
                        height: 40px;
                        outline: none;
                        box-shadow: none;
                    }
                    .input-range-wrapper{
                        .range-value{
                            position: relative;
                            width: 100%;
                        }
                        .range-input{
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            .range-input-custom{
                                -webkit-appearance: none;
                                width: 100%;
                                height: 3px;
                                background: white;
                                border-radius: 5px;
                                outline: none;
                                border: none;
                                &::-webkit-slider-thumb{
                                    appearance: none;
                                    -moz-appearance: none;
                                    -webkit-appearance: none;
                                    background: $primary-yellow;
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 100%;
                                    z-index: 10;
                                    cursor: pointer;
                                    position: relative;
                                }
                                &::-moz-range-thumb{
                                    appearance: none;
                                    -moz-appearance: none;
                                    -webkit-appearance: none;
                                    background: $primary-yellow;
                                    width: 15px;
                                    height: 15px;
                                    z-index: 10;
                                    border-radius: 100%;
                                    cursor: pointer;
                                }
                            }
                            .range-value-bubble{
                                background: $primary-red;
                                color: white;
                                padding: 4px 12px;
                                position: absolute;
                                border-radius: 5px;
                                left: 1%;
                                top: 20px;
                                transform: translateX(-50%);
                                z-index: 1;
                                width: fit-content;
                                user-select: none;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    top: -10px;
                                    left: 45%;
                                    border-width: 5px 5px 5px 5px;
                                    border-style: solid;
                                    border-color: transparent transparent $primary-red transparent;
                                }
                            }
                            .range-progress-bar{
                                position: absolute;
                                left: 0;
                                width: 0;
                                height: 3px;
                                user-select: none;
                                background: $primary-red;
                            }
                            .range-spots-wrapper{
                                position: absolute;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                left: -35px;
                                right: 18px;
                                top: -9px;
                                .range-spot{
                                    list-style: none;
                                    position: relative;
                                    .range-spot-bull{
                                        width: 21px;
                                        height: 21px;
                                        background: $primary-blue;
                                        z-index: 1;
                                        position: absolute;
                                        border: 2px solid white;
                                        border-radius: 50%;
                                    }
                                    .range-spot-txt{
                                        position: absolute;
                                        top: 35px;
                                        width: 85px;
                                        left: 0;
                                        right: 0;
                                        font-size: 12px;
                                        user-select: none;
                                    }
                                    &:nth-child(even) {
                                        .range-spot-txt{
                                            position: absolute;
                                            top: -25px;
                                        }
                                    }
                                    &.active{
                                        .range-spot-bull{
                                            background: $primary-red;
                                            border-color: $primary-red;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .input-select-wrapper{
                        .input-select-content{
                            border-style: solid;
                            border-width: 2px;
                            border-radius: 5px 5px 0 0;
                            position: relative;
                            height: 40px;
                            overflow: hidden;
                            .input-select-options-custom{
                                background: transparent;
                                border: none;
                                outline: none;
                                box-shadow: none;
                                width: 100%;
                                height: 36px;
                                cursor: pointer;
                                padding-left: 10px;
                                color: white;
                                &::placeholder{
                                    color: rgba(255, 255, 255, 0.5);
                                }
                            }
                            .input-select-options-icon{
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 40px;
                                border-left: 2px solid;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: -1;
                                .input-icon-arrow{
                                    width: 0px;
                                    height: 0px;
                                    border-width: 8px 8px 0px 8px;
                                    border-style: solid;
                                    border-color: $primary-red transparent transparent transparent;
                                }
                            }
                        }
                        .input-select-options-ul{
                            display: none;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            border-style: solid;
                            border-width: 0px 2px 2px 2px;
                            border-radius: 0px 0px 5px 5px;
                            overflow: hidden;
                            max-height: 350px;
                            overflow-y: scroll;
                            &::-webkit-scrollbar{
                                display: none;
                            }
                            &.active{
                                display: block;
                            }
                            .input-select-options-li{
                                display: flex;
                                align-items: center;
                                height: 30px;
                                padding: 0 10px;
                                border-bottom: 2px solid;
                                cursor: pointer;
                                transition: .3s;
                                &:last-child{
                                    border-bottom: 0px;
                                }
                                &:hover{
                                    background: $primary-red;
                                    color: white;
                                }
                            }
                        }
                        .vdp-datepicker{
                            border-style: solid;
                            border-width: 2px;
                            border-radius: 5px 5px 0 0;
                            position: relative;
                            height: 40px;
                            .input-select-options-custom{
                                background: transparent;
                                border: none;
                                outline: none;
                                box-shadow: none;
                                width: 100%;
                                height: 36px;
                                cursor: pointer;
                                padding-left: 10px;
                                color: white;
                                &::placeholder{
                                    color: rgba(255, 255, 255, 0.5);
                                }
                            }
                            .vdp-datepicker__calendar{
                                position: absolute;
                                left: 0;
                                z-index: 100;
                                background: #111d5e;
                                width: 100%;
                                border: 2px solid #fff;
                                border-radius: 0px 0px 5px 5px;
                            }
                        }
                    }
                    .services-tabs{
                        margin: 0;
                        padding: 0;
                        .service-tab{
                            list-style: none;
                        }
                    }
                    .services-wrapper{
                        .services-list{
                            padding: 0;
                            margin: 0;
                            border: 2px solid white;
                            border-radius: 5px;
                            max-height: 350px;
                            overflow-y: scroll;
                            &::-webkit-scrollbar{
                                display: none;
                            }
                            .services-list-items{
                                list-style: none;
                                border-bottom: 2px solid white;
                                padding: 10px 20px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                position: relative;
                                height: 50px;
                                transition: .3s;
                                cursor: pointer;
                                &:last-child{
                                    border-bottom: none;
                                }
                                &:hover{
                                    background: $primary-red;
                                }
                                .services-items-icon{
                                    position: absolute;
                                    width: 20px;
                                    height: 20px;
                                    left: 10px;
                                    top: 15px;
                                    bottom: 0;
                                }
                                .services-items-text{
                                    padding: 0 20px;
                                    font-size: 14px;
                                }
                                .services-items-radio{
                                    position: absolute;
                                    border:none;
                                    width: 20px;
                                    height: 20px;
                                    right: 10px;
                                    top: 15px;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                    @import "./../layouts/calendar";
                    /* .vdp-main{
                        .vdp-input-group{
                            .vdp-icon-btn{
                                display: none;
                            }
                            .form-control{
                                border-radius: 2px;
                                height: 40px;
                                background: transparent;
                                border-width: 2px;
                                border-style: solid;
                                border-color: white;
                                color: white;
                                &::placeholder{
                                    color: white;
                                }
                            }
                        }
                        .vdp-wrapper{
                            .vdp-container{
                                .vdp-content{
                                    .vdp-body{
                                        .vdp-month{
                                            .vdp-days{
                                                color: black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } */
                }
            }
        }
        .footer{
            .footer-wrapper{
                .form-control-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 35px;
                    background: transparent;
                    color: white;
                    border-color: white;
                    border-width: 2px;
                    border-style: solid;
                    outline: none;
                    box-shadow: none;
                    transition: .3s;
                    cursor: pointer;
                    &:hover{
                        background: $primary-red;
                        color: white;
                        border-color: white;
                    }
                }
                .progress{
                    position: relative;
                    height: 10px;
                    background: white;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .progress-text{
                        width: 100%;
                        height: 10px;
                        color: black;
                        z-index: 1;
                        font-weight: 700;
                        line-height: 10px;
                        text-align: center;
                    }
                    .progress-bar{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 10px;
                        background: $primary-red;
                    }
                }
            }
        }
    }
    .result-wrapper {
        min-height: 100vh;
        .result-header{
            .title{
                font-size: 45px;
                line-height: 35px;
                color: #038418;
                text-align: center;
                margin: 0;
                font-weight: 700;
                text-transform: uppercase;
            }
            .txt{
                font-size: 35px;
                line-height: 35px;
                color: $primary-green;
                text-align: center;
                margin: 0;
            }
            .img{
                margin-top: 10px;
                width: 60px;
            }
        }
        .result-body{
            .desc{
                color: $primary-blue;
                margin: 0;
                font-size: 40px;
                text-align: center;
            }
        }
        .result-footer{
            .top{
                .amount{
                    color: $primary-blue;
                    font-size: 40px;
                    margin: 0;
                    .money-quantity{
                        color: $primary-red;
                        font-weight: 700
                    }
                }
                .offer{
                    color: $primary-blue;
                    margin: 0;
                }
            }
            .bottom{
                width: 100%;
                .arrow{
                    border: none;
                    background: transparent;
                    .arrow-svg{
                        fill:$primary-green;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}